body {
    background-color: ghostwhite;
}
div{
    text-align: center;
}
.customerDiv {
    margin-top: 100px;
    align-content: center;
    text-align: center;
}

.signInForm {
    align-content: center;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}
.signUpHeader {
    align-content: center;
    text-align: center;
    padding-top: 50px;
}
.signInHeader {
    align-content: center;
    text-align: center;
    padding-top: 100px;
}
.signInFieldSet {
    align-content: center;
    margin-left: 500px;
    margin-right: 500px;
}
.submit {
    background-color: chartreuse
}